.permission-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.video-container, .audio-container {
    margin: 20px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toast {
    visibility: hidden;
    width: 80%; /* 가로로 긴 형태로 변경 */
    margin: 0 auto;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 10%;
    left: 10%; /* 중앙 정렬을 위한 위치 설정 */
    transform: translateX(-50%);
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s; /* 5초 지속 시간 */
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10%; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 10%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.toast a {
    color: #00ffc3; /* 민트색으로 변경 */
    font-weight: bold; /* 굵은 글씨 */
    text-decoration: none;
}

.toast a:hover {
    text-decoration: underline;
}
